<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCOMb-U2qXKRPhaY20Wvaz2piSuyrz1ps</string>
	<key>GCM_SENDER_ID</key>
	<string>130290273647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rfidAccessManagementApp</string>
	<key>PROJECT_ID</key>
	<string>access-system-fyp</string>
	<key>STORAGE_BUCKET</key>
	<string>access-system-fyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130290273647:ios:40adbee244c71f187d6c9a</string>
</dict>
</plist>